@font-face {
    font-family: Patriciana;
    src: url(../d/ofont.ru_Patriciana.ttf);
  }
  @font-face {
    font-family: Hachitos;
    src: url(../d/Hachitos\ Free.ttf);
  }
  @font-face {
      font-family:Display ;
      src: url(../d/ofont.ru_Playfair\ Display\ SC.ttf);
  }
  @font-face{
font-family: 'Regular';
src: url(../d/13885.otf);
}
html,body{
    height: 100%;
  }
  *{
    padding: 0px;
    margin: 0px;
  }
  #menu-checkbox {
    display: none;
}
.information div:nth-child(2){
  width: 700px;
}
    img{
      object-fit: cover;
    }
    .icon{
      position: absolute;
      width: 11%;
      height:19%;
      left: 43%;
      top: 6%;
     }
     header{
      height: 30%;
      width: 100%;
      left: 12%;
      top: -2px;
      border-radius: 0px;
      background-color: black;
      
     }
     .menu1{
      position: absolute;
      width: 38%;
      height: 20px;
      left: 105px;
      top: 50px;
      color: white;
     }
     .menu2{
     position: absolute;
  width: 38%;
  height: 20px;
  left: 60%;
  top: 50px;
  color: white;
     }
     .menu a{
      text-decoration: none;
      color: white;
     }
     .sub-menu a{
      color: rgb(0, 0, 0);
     }
    .menu1 ul,.menu2  ul {
          list-style: none;
          margin: 0;
          padding-left: 0;
        }
        
        .menu1 li,.menu2 li {
          color: rgb(0, 0, 0);
          display: block;
          float: left;
          padding: 1rem;
          position: relative;
          text-decoration: none;
           transition: color 0.5s ease 0s;
        }
        .menu1  a,.menu2 a{
          transition: color 0.5s ease 0s;
  
        } 
        
        .menu1 li :hover, .menu2 li :hover {
          color: #96816C;
          cursor: pointer;
        
        }
        
        .menu1 ul li ul,.menu2 ul li ul {
            background-color: rgb(255, 255, 255);
          visibility: hidden;
          opacity: 0;
          min-width: 5rem;
          position: absolute;
          transition: all 0.5s ease;
          margin-top: 1rem;
          left: 0;
          display: none;
        }
        
        .menu1 ul li:hover > ul,.menu2 ul li:hover > ul,
        .menu1 ul li ul:hover,.menu2 ul li ul:hover {
          visibility: visible;
          opacity: 1;
          display: block;
        }
        
        .menu1 ul li ul li,.menu2 ul li ul li {
          clear: both;
          width: 100%;
        }
          footer{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            background-color: black;
          }
          footer div:nth-child(1) {
           flex: 0 1 300px;
          }
           footer div:nth-child(1) .fot{
             font-size: 68px;
             font-family: Hachitos;
             color: white;
             margin-bottom: 25px;
       
           }
           footer div:nth-child(1) p{
       font-size: 15px;
       color: white;
       font-family: Patriciana;
           }
           footer div:nth-child(1) svg{
             width:15px;
             height: 15px;
           }
           footer div{
             align-self: center;
           }
           footer p{
       color: rgb(255, 255, 255);
       font-size: 20px;
       font-family: Patriciana;
           }
           footer h1{
             color: rgb(255, 255, 255);
             font-size: 35px;
             font-family: Patriciana;
             margin-bottom: 50px;
                 }
                   a{
                   transition: fill 0.5s ease 0s;
           
                 } 
                 
                 a :hover {
                   fill: #96816C;
                   cursor: pointer;
                 
                 }   
                    .internetShop h1{
                font-size: 700%;
                font-weight: 400;
                line-height: 101px;
                letter-spacing: 0.02em;
                margin-left:70px;
                margin-top: 100px;
                font-family:fantasy;
                    }
.information{
    width:100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.information img{
    border-radius: 100%;
    height: 350px;
    width: 350px;
}
.information p{
    font-family: Patriciana;
    font-size: 28px;
    width: 54%;
    margin: 0 auto;
}
.information h1{
    font-family:fantasy;
    font-size: 30px;
    width: 54%;
    margin: 0 auto;
}
.internetShop h1{
    font-size: 64px;
    font-weight: 400;
    line-height: 101px;
    letter-spacing: 0.02em;
    margin-left:70px;
    margin-top: 100px;
    font-family:fantasy;
        } 
.count{
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
} 

.textInf{
    width: 500px;
}
.textInf p{
    font-size: 25px;
    font-family: Patriciana;
}
.textInf h1{
    font-size: 50px;
}
.count1 
{
   display: flex;
   flex-flow: row wrap;
   width: 600px;
}
.count1 div{
    width: 300px;
}
.count1 h1{
    font-size: 80px;
    text-align: center;
}
.count1 p{
    font-size: 30px;
    font-family: Patriciana;
}
.reviews{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-flow: row wrap;
    gap: 10px;
} 
.reviews img{
    display: block;
    margin: 0 auto;
width: 100px;
height: 100px;
border-radius: 100%;
}
.reviews div{
    width: 700px;
    border: solid 0.5px black;
background-color: black;
height: 350px;
}
.reviews p, .reviews h1{
    font-size: 20px;
    font-family: Patriciana;
    color:white
}
.zagl{
    font-family: fantasy;
    font-size: 60px;
    text-align: center;
}
.box {
    display: flex;
    margin: 5px;
    padding: 5px;
    flex: 0 1 auto;
    flex-wrap: wrap;
   }
   .box div:nth-child(1) {
    align-self: flex-start;
   }
   .box div:nth-child(3) {
    align-self: flex-end;
   }
.box img{
    width:500px;
    height: 600px;
}
.box div:nth-child(2){
    font-family: Patriciana;
    font-size: 27px;
}
img{
  object-fit: cover;
}
.wrapper{
  min-height: 100%;
  overflow:hidden;
}