@font-face {
    font-family: Patriciana;
    src: url(../d/ofont.ru_Patriciana.ttf);
  }
  @font-face {
    font-family: Hachitos;
    src: url(../d/Hachitos\ Free.ttf);
  }
  @font-face {
      font-family:Display ;
      src: url(../d/ofont.ru_Playfair\ Display\ SC.ttf);
  }
  @font-face{
font-family: 'Regular';
src: url(../d/13885.otf);
}
@font-face{
    font-family:IBMPlexSerif-SemiBold ;
    src: url(../d/IBMPlexSerif-SemiBold.ttf)
  }
  @font-face {
      font-family:Thryomanes ;
      src: url(../d/ofont.ru_Thryomanes.ttf);
  }
html,body{
    height: 100%;
  }
  *{
    padding: 0px;
    margin: 0px;
  }
  img{
    object-fit: cover;
  }
     .icon{
      position: absolute;
      width: 11%;
      height:19%;
      left: 43%;
      top: 6%;
     }
     header{
      height: 30%;
      width: 100%;
      left: 12%;
      top: -2px;
      border-radius: 0px;
      background-color: black;
      
     }
     .menu1{
      position: absolute;
      width: 38%;
      height: 20px;
      left: 105px;
      top: 50px;
      color: white;
     }
     .menu2{
     position: absolute;
  width: 38%;
  height: 20px;
  left: 60%;
  top: 50px;
  color: white;
     }
     .menu a{
      text-decoration: none;
      color: white;
     }
     .sub-menu a{
      color: rgb(0, 0, 0);
     }
    .menu1 ul,.menu2  ul {
          list-style: none;
          margin: 0;
          padding-left: 0;
        }
        
        .menu1 li,.menu2 li {
          color: rgb(0, 0, 0);
          display: block;
          float: left;
          padding: 1rem;
          position: relative;
          text-decoration: none;
           transition: color 0.5s ease 0s;
        }
        .menu1  a,.menu2 a{
          transition: color 0.5s ease 0s;
  
        } 
        
        .menu1 li :hover, .menu2 li :hover {
          color: #96816C;
          cursor: pointer;
        
        }
        
        .menu1 ul li ul,.menu2 ul li ul {
            background-color: rgb(255, 255, 255);
          visibility: hidden;
          opacity: 0;
          min-width: 5rem;
          position: absolute;
          transition: all 0.5s ease;
          margin-top: 1rem;
          left: 0;
          display: none;
        }
        
        .menu1 ul li:hover > ul,.menu2 ul li:hover > ul,
        .menu1 ul li ul:hover,.menu2 ul li ul:hover {
          visibility: visible;
          opacity: 1;
          display: block;
        }
        
        .menu1 ul li ul li,.menu2 ul li ul li {
          clear: both;
          width: 100%;
        }
        footer{
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          background-color: black;
        }
        footer div:nth-child(1) {
         flex: 0 1 300px;
        }
         footer div:nth-child(1) .fot{
           font-size: 68px;
           font-family: Hachitos;
           color: white;
           margin-bottom: 25px;
     
         }
         footer div:nth-child(1) p{
     font-size: 15px;
     color: white;
     font-family: Patriciana;
         }
         footer div:nth-child(1) svg{
           width:15px;
           height: 15px;
         }
         footer div{
           align-self: center;
         }
         footer p{
     color: rgb(255, 255, 255);
     font-size: 20px;
     font-family: Patriciana;
         }
         footer h1{
           color: rgb(255, 255, 255);
           font-size: 35px;
           font-family: Patriciana;
           margin-bottom: 50px;
               }
                 a{
                 transition: fill 0.5s ease 0s;
         
               } 
               
               a :hover {
                 fill: #96816C;
                 cursor: pointer;
               
               }
               #menu-checkbox{
                 display: none;
               }
                  
                  .internetShop h1{
              font-size: 64px;
              font-weight: 400;
              line-height: 101px;
              letter-spacing: 0.02em;
              margin-left:70px;
              margin-top: 100px;
              font-family:fantasy;
                  }  
                  .section7{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                   flex-wrap: wrap;
                   }
                   .section7 div{
                    margin: 5px;
                    padding: 5px;
                    flex: 0 1 auto;
                   }
                   .section7 img{
                    width: 346px;
                    height: 400px;
                    margin-bottom: 10px;
                   }
                   .section7 p{
                    font-family: IBMPlexSerif-SemiBold;
                    font-size: 26px;
                    text-align: center;
                    margin-bottom: 20px;
                   }
                   .more a{
                    font-family: IBMPlexSerif-SemiBold;
                    font-size: 24px;
                    text-align: center;
                    color: #8D5D30;
                    border-bottom: solid 1px #8D5D30;
                    text-decoration: none;
                   }
                   .more{
                    font-family: IBMPlexSerif-SemiBold;
                    font-size: 24px;
                    text-align: center;
                    color: #8D5D30;
                    border-bottom: solid 1px #8D5D30;
                    text-decoration: none;
                   }
                   .back, .up{
                       position: fixed;
                   }

                   .articleText li{
                       list-style-type: decimal;
                       margin-left: 50px;
                   }
                   .articleText a{
                    text-decoration: none;
                    font-family: IBMPlexSerif-SemiBold;
                    font-size: 16px;
                    color: black;
                   }
                   .articleText{
                    width: 100%;
                    top: 0;
                    left: 0;
                    display: flex;
                    justify-content: center; 
                   }
    .articleText div div{
        width: 50%;
        margin: 0 auto;
    }
.content{
                       background-color: rgba(107, 80, 69, 0.644);
                       height: 200px;
                       
                   }
.text1 p, .text1 li{
    font-family: Thryomanes;
    font-size: 20px;
    color: rgb(107, 80, 69);

}
.text1 h1{
font-family: Display;
}
.articleText img{
    display: block;
    margin: 0 auto;
    width: 800px;
}
.up img{
    left:80%;
    top:680px;
    position: fixed;
}
.obraz{
    width: 800px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.obraz img{
    width: 250px;
    

}
.bord{
    border-left: solid 10px rgb(128, 76, 46);
}

img{
  object-fit: cover;
}