@font-face {
    font-family: Patriciana;
    src: url(../d/ofont.ru_Patriciana.ttf);
  }
  @font-face {
    font-family: Hachitos;
    src: url(../d/Hachitos\ Free.ttf);
  }
  @font-face {
      font-family:Display ;
      src: url(../d/ofont.ru_Playfair\ Display\ SC.ttf);
  }
  @font-face{
font-family: 'Regular';
src: url(../d/13885.otf);
}
html,body{
    height: 100%;
  }
  *{
    padding: 0px;
    margin: 0px;
  }
  img{
   object-fit: cover;
 }
    .icon{
     position: absolute;
     width: 11%;
     height:19%;
     left: 43%;
     top: 6%;
    }
    header{
     height: 30%;
     width: 100%;
     left: 12%;
     top: -2px;
     border-radius: 0px;
     background-color: black;
     
    }
    .menu1{
     position: absolute;
     width: 38%;
     height: 20px;
     left: 105px;
     top: 50px;
     color: white;
    }
    .menu2{
    position: absolute;
 width: 38%;
 height: 20px;
 left: 60%;
 top: 50px;
 color: white;
    }
    .menu a{
     text-decoration: none;
     color: white;
    }
    .sub-menu a{
     color: rgb(0, 0, 0);
    }
   .menu1 ul,.menu2  ul {
         list-style: none;
         margin: 0;
         padding-left: 0;
       }
       
       .menu1 li,.menu2 li {
         color: rgb(0, 0, 0);
         display: block;
         float: left;
         padding: 1rem;
         position: relative;
         text-decoration: none;
          transition: color 0.5s ease 0s;
       }
       .menu1  a,.menu2 a{
         transition: color 0.5s ease 0s;
 
       } 
       
       .menu1 li :hover, .menu2 li :hover {
         color: #96816C;
         cursor: pointer;
       
       }
       
       .menu1 ul li ul,.menu2 ul li ul {
           background-color: rgb(255, 255, 255);
         visibility: hidden;
         opacity: 0;
         min-width: 5rem;
         position: absolute;
         transition: all 0.5s ease;
         margin-top: 1rem;
         left: 0;
         display: none;
       }
       
       .menu1 ul li:hover > ul,.menu2 ul li:hover > ul,
       .menu1 ul li ul:hover,.menu2 ul li ul:hover {
         visibility: visible;
         opacity: 1;
         display: block;
       }
       
       .menu1 ul li ul li,.menu2 ul li ul li {
         clear: both;
         width: 100%;
       }
       footer{
         display: flex;
         justify-content: space-around;
         flex-wrap: wrap;
         background-color: black;
       }
       footer div:nth-child(1) {
        flex: 0 1 300px;
       }
        footer div:nth-child(1) .fot{
          font-size: 68px;
          font-family: Hachitos;
          color: white;
          margin-bottom: 25px;
    
        }
        footer div:nth-child(1) p{
    font-size: 15px;
    color: white;
    font-family: Patriciana;
        }
        footer div:nth-child(1) svg{
          width:15px;
          height: 15px;
        }
        footer div{
          align-self: center;
        }
        footer p{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Patriciana;
        }
        footer h1{
          color: rgb(255, 255, 255);
          font-size: 35px;
          font-family: Patriciana;
          margin-bottom: 50px;
              }
                a{
                transition: fill 0.5s ease 0s;
        
              } 
              
              a :hover {
                fill: #96816C;
                cursor: pointer;
              
              }
              #menu-checkbox{
                display: none;
              }
                 
               
              
.menuTWO{
 height: 25%;
 width: 100%;
}
.menuTWO ul{
   list-style: none; 
   margin: 0;
   padding-left: 0; 
   padding: 0;
   background: #ebbb8e96;
   text-align: center;
 }
.menuTWO li {
   display: inline-block;
 }
 .menuTWO a {
   text-decoration: none;
   padding: 1em;
   display: block;
   color: #463023;
   background: rgba(145, 122, 103, 0.185);
 }
 .menuTWO a:hover {background: #6644449c}
   .internetShop{
     height: 200px;
   }   
   .internetShop h1{
font-size: 64px;
font-weight: 400;
line-height: 101px;
letter-spacing: 0.02em;
margin-left:70px;
margin-top: 100px;
font-family:fantasy;
   }     
                      .post-wrap {
                        width: 100%;
                        margin: 0 auto;
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                     }
               
                     .post-item {
                        padding: 10px;
                     }
               
                     .post-link {
                        text-decoration: none;
                        display: block;
                     }
               
                     .post-item-wrap {
                        overflow: hidden;
                        position: relative;
                     }
               
                     .post-item img {
                        display: block;
                        width: 100%;
                        height: 700px;
                     }
               
                     .text-wrapper {
                        position: absolute;
                        height: 100%;
                        top: 0;
                        left: 0;
                        z-index: 10;
                        width: 86%;
                        padding: 20px;
                        background: #a8967ea4;
                        transform: translate3d(-100%, 0, 0);
                        transition: transform .5s cubic-bezier(.33, .02, 0, .93);
                     }
               
                     .post-item:hover .text-wrapper {
                        transform: translate3d(0, 0, 0);
                        transition: transform .5s cubic-bezier(.33, .02, 0, .93) .3s;
                     }
               
                     .overlay {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        z-index: 5;
                        background: #5f4433;
                        transform: translate3d(-100%, 0, 0);
                        transition: transform .4s cubic-bezier(.33, .02, 0, .93) .2s;
                     }
               
                     .post-item:hover .overlay {
                        transform: translate3d(0, 0, 0);
                        transition: transform .5s cubic-bezier(.33, .02, 0, .93);
                     }
                     .post-title {
                        font-size: 20px;
                        font-weight: 400;
                        color: #ffffff;
                        font-style: italic;
                        text-align: center;
                     }
               
                
table{
   margin-top: 50px;
  font-family: Patriciana;
   font-size: 15px;
   text-decoration: none;
   color: rgb(255, 255, 255);
}
td{
   padding: 8px 10px;
}
.text-wrapper p{
   margin-top: 200px;
   font-size:20px ;
   color: rgb(255, 255, 255);
   text-decoration: none;
   font-family: Patriciana;
} 
